*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bg_container{
    margin: 0 !important;
}

.top-band_background{
    flex-basis: 15vh;
    background-color: rgba(0,150,136,255);
}

.bottom-band_background{
    flex-basis: 85vh;
    background-color: rgba(219,219,211,255);
}

.app_container{
    max-width: 90%;
    padding: 0 !important;
    top: 50%;
    left: 50%;
    transform: translate(-49%, -50%);
    border: 3px solid rgb(191, 185, 185);
}

.side-bar_section{

    padding: 10px 8px;
    padding: 0 !important;
}


/* SIDE BAR SECTION */

.image_utent{
    width: 52px;
    background-color: white;
    border-radius: 50%;
    padding: 5px;
}

.profile_bar{
    background-color: rgba(234,234,234,255);
}

.notifications_bar{
    background-color: rgba(142,218,252,255);
}

.bell_icon{
    color: rgba(142,218,252,255);
    padding: 5px;
    background-color: white;
    border-radius: 50%;
    line-height: 19px;
}

.text_notification{
    font-size: 13px;
}

.contact_bar{
    background-color: rgba(234,234,234,255);
}

.image_contact{
    width: 52px;
    background-color: rgba(242,242,242,255);
    border-radius: 50%;
    padding: 5px;
}

.time_message{
    top: 5px;
    right: 5px;
    transform: translate(-50%);
    font-size: 10px;
}

/* MAIN CONTENT */

.main-content_section{
    border-left: 1px solid rgba(214,213,211,255);
}

.header_main-content{
    background-color: rgba(234,234,234,255);
    border-left: 1px solid rgba(216,216,216,255);
}

.message_section{
    height: 600px;
    border-left: 1px solid rgba(216,216,216,255);
    background-image: url(../img/peakpx.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: normal;
}

.utent_message_section{
    height: fit-content;
}

.contact_message_section{
    height: fit-content;
}

.contact_message_style{
    background-color: rgba(213,249,186,255);
    border-radius: 10px;
    margin: 0 auto;
    width: 280px;
}

.message_style{
    background-color: white;
    height: fit-content;
    border-radius: 10px;
    margin: 0 auto;
    width: 280px;
}

.message_text{
    height: fit-content;
}

.message_time{
    font-size: 10px;
    height: fit-content;
}

.write_message_section{
    background-color: rgba(243,238,234,255);
}